<% include partials/header %>

</div>
  <br/>
  <div class="jumbotron">
    <h1>SolarMart</h1>
      <p>
      This is place to put content. You can put slider, short description about your website and place some links for navigation.
      </p>
      <img src="https://icdn2.digitaltrends.com/image/47888280-solar-panel-on-a-red-roof-720x720.jpg?ver=1.jpg">
  </div>
</div>

<% include partials/footer %>